.form-header{
	background-color: #083271;
	color: #fff;
	border: 3px solid #083271;
	border-radius: 15px 15px 0 0 ;

	
}




.text3{
	color: black;
}

.cuerpo{
	background-color: #c3c3c3;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
}

.cuerpoCompras{
	background-color: #c3c3c3;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
	
}

.textColor{
	border: 1px solid #083271;
	
}

.boton-der{
	margin-bottom: 15px;
}

.radioB{
	color: #000;
}

.r{
	margin-top: 0px;
}

.cuerpo2{
	background-color: #c3c3c3;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
}

.cuerpo3{
	background-color: #c3c3c3;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
	height: 500px;
}

.cuerpoUsers{
	background-color: #c3c3c3;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
	height: 500px;
	
}

.cuerpoCobranza{
	background-color: #c3c3c3;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	
	border-radius: 0 0 15px 15px;
	height: auto;
}


.cuerpo4{
	background-color: #fff;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
	height: 400px;
	margin-top: 0px;
}

.cuerpoInfo{
	background-color: #c3c3c3;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
	height: auto;
	margin-top: 0px;
}



.celda{
	color: #333;
}

.textoBlack{
	color: #083271;
}

.separachk{
	margin-left: 30px;
}