.barraprods{
	margin-bottom: 5px;
}

body{
/*background: rgba(241,231,103,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
*/
background: url("../img/fondorosa.jpg");
color: #6D635D;
font-family: amaranto;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
font-size: 16px;
}

.bgGris{
  background-color: #c3c3c3;
  color: #333;
}

.tablaUsers{
  color: #333;
  max-height: 380px;
}

.TableBody{
  color: #333;
  background-color: #fff;
  
}


.btnTabla2{
	background-color: #009e75;
	color: #ffffff;
}

.btnTabla2:hover{
	background-color: #009f88;
	color: #333;
}




#botonmorado{
  background: #cc1eeb;
  background-image: -webkit-linear-gradient(top, #cc1eeb, #8a0eb3);
  background-image: -moz-linear-gradient(top, #cc1eeb, #8a0eb3);
  background-image: -ms-linear-gradient(top, #cc1eeb, #8a0eb3);
  background-image: -o-linear-gradient(top, #cc1eeb, #8a0eb3);
  background-image: linear-gradient(to bottom, #cc1eeb, #8a0eb3);
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
}
#botonmorado:hover{
  background: #c6a6e6;
  background-image: -webkit-linear-gradient(top, #c6a6e6, #9b52bf);
  background-image: -moz-linear-gradient(top, #c6a6e6, #9b52bf);
  background-image: -ms-linear-gradient(top, #c6a6e6, #9b52bf);
  background-image: -o-linear-gradient(top, #c6a6e6, #9b52bf);
  background-image: linear-gradient(to bottom, #c6a6e6, #9b52bf);
  text-decoration: none;
  color:black;
}

.tabProds{
  height: 400px;
}

.tablaSalidas{
 
  color: #333;
  margin-bottom: 30px;
}


.imagen{
  height: 200px;
  width: 100%;
}

#imgTable{
	width: 100%;
	height: 100px;

}

.tamno-modal{
	width: 75% !important;
}

.Sarticulo{
	width: 100% !important;
	margin-left: 0px;
	margin-bottom: 10px;
}

.tabla{
	margin-bottom: 80px;
}



.Total{
	margin-top: 40px;
	padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
	 border: 1px solid black;
    border-radius: 12px;
}

.btnFinalizar{
    margin-top: 40px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;

}

.btnCompra{
  margin-bottom: 20px;
}

.tb{
  border: 1px solid gray;
  font-size: 15px;
  height: 30px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;

  color: #2E3133;
}


.titulo{
  margin-top: 1px;
}


.TextBlack{
  color: #333;
}


.tabProdsSAT{
  height: 350px;
}

.claveMargen{
  margin-top: 50px;
}

.thch {
  text-align: center;
}

