body{
	background-image: url("../img/new_york_city.jpg");
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Titillium Web', sans-serif;
}

.form{
  padding: 30px;
  max-width:600px;
  margin:60px auto;
  

}

.Titulo{
	color: #fff;
}

.cajas{
	background-color: #13232f;
	color: #fff; 
}

.boton{
	background-color: #1ab188;
	color: #fff;
	height: 50px;
}
.boton {
    height: 50px;
    background: #1AAE88;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    opacity: 0.9;
    
}
.boton:hover, .boton:active { 
    opacity: 1.0; 
    color: #fff; 
}
.boton:focus { 
    opacity: 1.0;  
    color: #fff; 
    background: #de615e; 
}

.adm{
	
	color: #fff;
}

.masinfo{
    background-color: #bae1ff;
    color: #000;
    opacity: 0.9;
}


.masinfo:hover{
    opacity: 1.0; 
}