.imagen{
  width: 10%;
  max-width: 10%;
}


#cuerpo{
  
  
  background-image: url("../img/fondorosa.jpg");
	background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  
  background-color: #fff;
  */

}






.botonsito{
 background: #2e1deb;
  background-image: -webkit-linear-gradient(top, #2e1deb, #0f0b47);
  background-image: -moz-linear-gradient(top, #2e1deb, #0f0b47);
  background-image: -ms-linear-gradient(top, #2e1deb, #0f0b47);
  background-image: -o-linear-gradient(top, #2e1deb, #0f0b47);
  background-image: linear-gradient(to bottom, #2e1deb, #0f0b47);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 7px 35px 10px 28px;
  text-decoration: none;

}
.botonsito:hover{
	background: #f72020;
  background-image: -webkit-linear-gradient(top, #f72020, #d60004);
  background-image: -moz-linear-gradient(top, #f72020, #d60004);
  background-image: -ms-linear-gradient(top, #f72020, #d60004);
  background-image: -o-linear-gradient(top, #f72020, #d60004);
  background-image: linear-gradient(to bottom, #f72020, #d60004);
  text-decoration: none;

}
#cabecera{

  background-color: #115E7C;
   color: #fff;
   
}

#FCorte{
  border: green 1px solid;
}


div#menu{
width: 300px;

}
div#menu ul{
  list-style: none;
}

div#menu ul li{
  margin-top: 15px;
  color: #fff;
  font-family: tahoma;
  
  background-color:  #115E7C;;
  width:250px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:20px 20px 20px 20px;
  cursor: pointer;
  box-shadow:5px 0px 10px #939393; 
  transition:all .3s ease-in-out;
}

div#menu ul li a{
  margin-top: 15px;
  color: #fff;
  font-family: tahoma;
  font-size: 18px;
 text-decoration: none;
 transition:all .3s ease-in-out;
}

div#menu ul li a:hover{
  cursor: pointer;
  color: aqua;
  -webkit-transform:scale(1.3);
  transition:all .3s ease-in-out;
}

div#menu ul li:hover{
  cursor: pointer;
  -webkit-transform:scale(1.3);
  transition:all .3s ease-in-out;
}


.blanco{
  color: #000;
}



#special{
  background-color: #baffc9 !important;
  color: #000000 !important;
}

#special:hover{
  color: brown !important;
}

#specialred{
  background-color: #ffb3ba !important;
  color: #fff !important;
}

#specialred:hover{
  color: #000 !important;
}



.llamativo{
  color: darkcyan !important;
}