.navcolor{
	background-color: #155E7C;
	background-repeat: repeat;
   color: #fff;
    
}

.navbar-default .navbar-brand {  /* color del Brand*/
    color: #fff;
    
}

.navbar-default .navbar-brand:hover {  /* color del Brand*/
    color: #03dcfe;
    transition:all .4s ease-in-out;
}    


.navbar .nav li a{ /* color de la letra en el nav*/
  color: #fff;
}

.navbar .nav li a:hover{ /* color de la letra en el nav*/
  color: #03dcfe;
  transition:all .4s ease-in-out;
}

.dropdown li a {
      color: #333 !important;
      
 }
	

