.cuerpo{
	background: rgb(240,240,240);
}

.cuerpoM{
	background: rgb(240,240,240);
}

.color{
	background-color: #155E7C;
	color: #fff;
}

.HeadPanel{
	background-color: #435E7C;
	color: #fff;
}


.cuerpoTabla{
	height: 550px;
}


.tablita{
	height: 450px;
	margin-bottom: 20px;
}
