.form-header{
	background-color: #083271;
	color: #fff;
	border: 3px solid #083271;
	border-radius: 15px 15px 0 0 ;

	
}


.color-boton{
	margin-bottom: 10px;
}

.text3{
	color: black;
}

#Reportes{
	margin-top: 10px;
	


}

.color_texto{
	color: #000;
}

.textColor2{
	border: 1px solid #083271;
	
}


.textoBlack{
	color: #083271;
}

.cuerpo{
	background-color: #c3c3c3;
	height: auto;
	width: 100%;
	overflow: hidden;
	border-bottom: 3px solid #083271;
	border-left: 3px solid #083271;
	border-right: 3px solid #083271;
	border-radius: 15px;
	padding: 15px;
	color: #fff;
	border-radius: 0 0 15px 15px;
	padding: 10px;

}

.textColor{
	background-color: #009e75;
	border: 1px solid #083271;
	
}

.boton-der{
	margin-bottom: 15px;
}


.btnTabla{
	background-color: #c800e9;
	color: #fff;
}

.btnTabla2{
	background-color: #009e75;
	color: #fff;
}

.btnTabla:hover{
	background-color: #007e75;
	color: #fff;
}


.btnAmarillo{
	background-color: #f08080;
	color: #fff;
}

.btnAmarillo:hover{
	background-color: #f03080;
}