.cabezera{
    height: 60px;
    background-color: #435E7C;
    margin: 0;
    border-radius: 15px 15px 0 0 ;


}

.bg{
    background-color: #155E7C;
    color: #fff;
}

.bg:hover{
    background-color: #bae1ff;
    color: #000000;

    transition:all .3s ease-in-out;
}

.bg:focus{
    background-color: #bae1ff;
    color: #000000;
    transition:all .3s ease-in-out;
}

.Titulo{
    padding-top: 20px;
    padding-left: 10px;
    color: #fff;
}


.contenido{
    background-color: #fff;
    height: auto;
    border-radius: 0 0 15px 15px;
}

.TituloVerde{
    background-color: #5cb85c;
    color: #fff;
    font-size: 20px;
}

.TituloAzul{
    background-color: #4682B4;
    color: #fff;
    font-size: 20px;
}

.headVerde{
    background-color: #5cb85c;
    color: #fff;
}

.headAzul{
    background-color: #4682B4;
    color: #fff;
}