body{
	padding-top: 10px;
}

#imgTable{
	width: 100%;
	height: 100px;

}


.textoblanco{
	color: #fff;
}

.imgTable2{
	width: 200px;
	height: 100px;

}

.columna{
	width: 200px;
	max-height: 50px;
}

.tabImages{
  height: 430px;
}




.options{
	background-color: #c800e9;
	color: #fff;

	margin-bottom: 10px;
}



.tabla{
	height: 280px;
	margin-bottom: 0px;

}

.tablaProds{
	height: 430px;
	margin-bottom: 0px;
}

.textColor{
	color: blue;
}

.exit{
	background-color: #d9534f;
	color: #fff;
}

.tcol{
	color: blue;
}

.separar{
	margin-top: 5px;
}

#find:hover{
	background-color: #5bc0de;
}

#exit:hover{
	background-color: red;
}


.imgVenta{
	filter: opacity(100%);
	transition:all .2s ease-in-out;

}

.imgVenta:hover{
	filter: opacity(60%);
	transition:all .2s ease-in-out;

}

.margen{
	margin-bottom: 15px;
}
