.navbar-default .navbar-brand {  /* color del Brand*/
    color: #fff;
    
}


.navbar-default .navbar-brand:hover { 
    color: aqua;
    transition:all .5s ease-in-out;
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    
}

.navbar .nav li a{
  color: #fff;

}

.navbar-default .navbar-nav > li > a:hover{
  color:aqua;
  transition:all .3s ease-in-out;
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  
}


.navbar{
    background-color: #155E7C;
    
}

#top{
   padding-top: 5%;
  
   
}
#mid{
    padding-top: 4%;
    
 }
 #bot{
    padding-top: 4%;
  
    
 }
 #end{
    padding-top: 4%;
    
 }



 #botn {
     color: white;
     -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
     padding: 10px 20px 10px 20px;
     border: none;
     background-color: dodgerblue;
     
     
 }

#botn:hover{
    background-color : white;
    color: black;

    
}
#botn:focus{
    
    background-color : white;
    color: black;
    
}
body{ 
   background-image: url("imgPublicidad/fondo.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
   
}

footer{
    background-color: #155E7C;
    color: white;
}

p{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 18px;
   
    
}
#end p{
    
}
li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
   
}
h1{
    color:#155E7C;
    font-weight: bold;
}

h2{
    color:#155E7C;
    font-weight: bold;
}
h3{
    color:#155E7C;
    font-style: italic;
    
}

#req img:hover{
    filter: sepia(50%);
    transition:all .5s ease-in-out;
}

#pla img:hover{
    
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    transition:all .5s ease-in-out;
}